icon ICON "../../data/images/spider_icon.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Ben Radford"
      VALUE "FileDescription", "mmoclient"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "mmoclient"
      VALUE "LegalCopyright", "Copyright 2007-2009, Ben Radford. All Rights Reserved."
      VALUE "OriginalFilename", "client.exe"
      VALUE "ProductName", "mmoclient"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END

